In [28]:
import pandas as pd
pd.options.display.max_rows = 20
%matplotlib inline

In [42]:
kvaliteta = pd.read_csv('tabela.csv', sep=';', parse_dates=['Datum'])

In [39]:
kvaliteta

                Dobavitelj         Sorta   Kvaliteta  Količina [kg]
Datum
2014-07-14   Kodrič Milena      Redhaven          I.        820.000
2014-07-15   Kodrič Milena      Redhaven          I.        659.000
2014-07-16   Kodrič Milena      Redhaven          I.          1.073
2014-07-17   Kodrič Milena      Redhaven          I.          1.364
2014-07-18   Kodrič Milena      Redhaven          I.          1.135
2014-07-21   Kodrič Milena      Redhaven          I.          1.342
2014-07-22   Kodrič Milena      Redhaven          I.        924.000
2014-07-24   Kodrič Milena      Redhaven          I.          1.035
2014-07-30    Levak Andrej  James Grieve          I.          1.453
2014-06-08       BIF-VORPO    Viljamovka          I.         21.789
...                    ...           ...         ...            ...
2015-10-28     Univerza MB      Jonagold          I.          3.550
2015-10-28     Univerza MB       Evelina          I.        303.000
2015-10-28     Univerza MB     Eko Topaz          I.        644.000
2015-02-10   Kodrič Milena        Idared          I.          1.784
2015-02-10     Univerza MB      Eko Opal          I.          5.328
2015-02-10     Univerza MB       Evelina          I.         15.353
2015-02-10    Kunej Ludvik        Idared  Industrija          4.016
2015-02-10  Šušterič Vojko       Evelina          I.         10.422
2015-02-10   Kovačič Franc        Idared          I.          1.698
2015-02-10     Univerza MB       Evelina          I.         17.119

[1061 rows x 4 columns]

In [43]:
kvaliteta['Datum'] = pd.to_datetime(kvaliteta['Datum'])
kvaliteta_2014 = kvaliteta[kvaliteta['Datum'].dt.year == 2014]
kvaliteta_2014

         Datum        Dobavitelj         Sorta Kvaliteta  Količina [kg]
0   2014-07-14     Kodrič Milena      Redhaven        I.        820.000
1   2014-07-15     Kodrič Milena      Redhaven        I.        659.000
2   2014-07-16     Kodrič Milena      Redhaven        I.          1.073
3   2014-07-17     Kodrič Milena      Redhaven        I.          1.364
4   2014-07-18     Kodrič Milena      Redhaven        I.          1.135
5   2014-07-21     Kodrič Milena      Redhaven        I.          1.342
6   2014-07-22     Kodrič Milena      Redhaven        I.        924.000
7   2014-07-24     Kodrič Milena      Redhaven        I.          1.035
8   2014-07-30      Levak Andrej  James Grieve        I.          1.453
9   2014-06-08         BIF-VORPO    Viljamovka        I.         21.789
..         ...               ...           ...       ...            ...
469 2014-09-20    Šušterič Vojko        Pinova        I.          2.994
470 2014-09-21    Šušterič Vojko          Fuji        I.          3.838
471 2014-09-22     Martini  Rene      Braeburn        I.         21.634
472 2014-09-23     Kodrič Milena      Jonagold        I.          1.790
473 2014-09-24     Kodrič Milena        Idared        I.          1.744
474 2014-10-20  Metelko Gabrijel      Jonagold        I.          1.461
475 2014-10-20  Metelko Gabrijel        Idared        I.        291.000
476 2014-10-21     Kodrič Milena        Idared        I.        899.000
477 2014-10-19     Mlakar Branko        Idared        I.         14.452
478 2014-10-20       Rupar Bojan        Idared        I.        293.000

[479 rows x 5 columns]

In [36]:
kvaliteta_2015 = kvaliteta[kvaliteta['Datum'].dt.year == 2015]
kvaliteta_2015

          Datum         Dobavitelj       Sorta   Kvaliteta  Količina [kg]
479  2015-05-08       Levak Andrej     Delcorf          I.          1.652
480  2015-08-13       Levak Andrej     Delcorf          I.        721.000
481  2015-08-14          Umek Jože  Viljamovka  Industrija          7.594
482  2015-08-14          Umek Jože  Viljamovka  Industrija          3.807
483  2015-08-17          Umek Jože  Viljamovka  Industrija          5.605
484  2015-08-18          BIF-VORPO  Viljamovka          I.         14.133
485  2015-08-18               Rojc  Viljamovka  Industrija          4.663
486  2015-08-18               Rojc  Viljamovka  Industrija          1.755
487  2015-08-19  Pinterič Antonija  Viljamovka  Industrija          3.843
488  2015-08-19          BIF-VORPO  Viljamovka          I.         16.869
...         ...                ...         ...         ...            ...
1051 2015-10-28        Univerza MB    Jonagold          I.          3.550
1052 2015-10-28        Univerza MB     Evelina          I.        303.000
1053 2015-10-28        Univerza MB   Eko Topaz          I.        644.000
1054 2015-02-10      Kodrič Milena      Idared          I.          1.784
1055 2015-02-10        Univerza MB    Eko Opal          I.          5.328
1056 2015-02-10        Univerza MB     Evelina          I.         15.353
1057 2015-02-10       Kunej Ludvik      Idared  Industrija          4.016
1058 2015-02-10     Šušterič Vojko     Evelina          I.         10.422
1059 2015-02-10      Kovačič Franc      Idared          I.          1.698
1060 2015-02-10        Univerza MB     Evelina          I.         17.119

[582 rows x 5 columns]

In [80]:
kvaliteta.groupby([kvaliteta['Datum'].dt.year, kvaliteta['Kvaliteta']]).sum()

                  Količina [kg]
Datum Kvaliteta
2014  I.              43632.067
      Industrija         32.581
2015  I.              37783.230
      Industrija      16099.095

Količina [kg]    43632.067
dtype: float64

In [46]:
skupna_masa_po_kvaliteti = kvaliteta.groupby('Kvaliteta').sum()
skupna_masa_po_kvaliteti

            Količina [kg]
Kvaliteta
I.              81415.297
Industrija      16131.676

In [47]:
masa_po_kvaliteti_2014 = kvaliteta_2014.groupby('Kvaliteta').sum()
masa_po_kvaliteti_2014

            Količina [kg]
Kvaliteta
I.              43632.067
Industrija         32.581

In [25]:
masa_po_kvaliteti_2015 = kvaliteta_2015.groupby('Kvaliteta').aggregate(sum)
masa_po_kvaliteti_2015

            Količina [kg]
Kvaliteta
I.              37783.230
Industrija      16099.095

In [64]:
masa_po_kvaliteti_2014.join(masa_po_kvaliteti_2015, on = 'Kvaliteta')

KeyError: 'Kvaliteta'

In [49]:
masa_po_letih = kvaliteta.groupby(kvaliteta['Datum'].dt.year).sum()
masa_po_letih

       Količina [kg]
Datum
2014       43664.648
2015       53882.325

In [74]:
količina_na_dobavitelja = kvaliteta.groupby('Dobavitelj').aggregate(sum)

In [95]:
količina_na_dobavitelja.sort_values('Količina [kg]', ascending = False)

                  Količina [kg]
Dobavitelj
Levak Andrej          17732.439
Kodrič Milena         15482.490
Univerza MB           11326.632
Molan Mitja            8921.725
Metelko Gabrijel       5917.870
Šušterič Vojko         5539.581
Bogovič Franc          3803.174
Križančič Franc        3702.886
Mustar Alojz           3596.000
Zagorc Ema             3555.502
...                         ...
Tonjko Stanislav         16.713
AA5                      15.510
AA9                      13.513
Petan Marija              9.724
Rojc                      6.418
LEvak Andrej              6.036
Ratajc Jože               4.500
Kranjčevič Vinko          3.709
Andrej  Rojc              2.652
Kovačič Alojz             2.005

[53 rows x 1 columns]

Največji dobavitelj je Levak Andrej.

In [102]:
prva_klasa = kvaliteta[kvaliteta.Kvaliteta == 'I.'].sort_values('Količina [kg]')

         Datum         Dobavitelj          Sorta Kvaliteta  Količina [kg]
452 2014-10-22   Metelko Gabrijel       Jonagold        I.          1.032
404 2014-10-23   Metelko Gabrijel       Jonagold        I.          1.032
7   2014-07-24      Kodrič Milena       Redhaven        I.          1.035
2   2014-07-16      Kodrič Milena       Redhaven        I.          1.073
708 2015-09-24         Koren Ivan  Zlati Delišes        I.          1.078
4   2014-07-18      Kodrič Milena       Redhaven        I.          1.135
269 2014-09-25         Zagorc Ema       Jonagold        I.          1.157
325 2014-04-10      Kovačič Franc         Idared        I.          1.158
348 2014-06-09      Kovačič Franc         Idared        I.          1.158
870 2015-09-19        Univerza MB        Evelina        I.          1.161
..         ...                ...            ...       ...            ...
6   2014-07-22      Kodrič Milena       Redhaven        I.        924.000
666 2015-09-17        Univerza MB     Royal Gala        I.        925.000
13  2014-11-08       Levak Andrej   James Grieve        I.        927.000
659 2015-09-16       Levak Andrej     Royal Gala        I.        927.000
658 2015-09-16       Levak Andrej  Zlati Delišes        I.        929.000
67  2014-08-29      Kodrič Milena         Elstar        I.        931.000
762 2015-01-10  Pinterič Antonija         Idared        I.        937.000
763 2015-01-10  Pinterič Antonija       Jonagold        I.        957.000
568 2015-08-09      Kodrič Milena           Gala        I.        959.000
305 2014-01-10       Mustar Alojz       Braeburn        I.        999.000

[973 rows x 5 columns]

In [ ]:
prva_klasa

In [97]:
kvaliteta[['Sorta', 'Količina [kg]']]

             Sorta  Količina [kg]
0         Redhaven        820.000
1         Redhaven        659.000
2         Redhaven          1.073
3         Redhaven          1.364
4         Redhaven          1.135
5         Redhaven          1.342
6         Redhaven        924.000
7         Redhaven          1.035
8     James Grieve          1.453
9       Viljamovka         21.789
...            ...            ...
1051      Jonagold          3.550
1052       Evelina        303.000
1053     Eko Topaz        644.000
1054        Idared          1.784
1055      Eko Opal          5.328
1056       Evelina         15.353
1057        Idared          4.016
1058       Evelina         10.422
1059        Idared          1.698
1060       Evelina         17.119

[1061 rows x 2 columns]

In [98]:
pd.DataFrame(kvaliteta.groupby(['Sorta']).aggregate(sum).sort_values('Količina [kg]'))

               Količina [kg]
Sorta
Opal                   2.685
Abate fetel          121.229
Viljamovka           201.687
Eko Opal             309.406
Gala Must            695.338
Delcorf              722.652
Topaz                902.862
James Grieve         928.453
Fuji                1259.071
Eko Topaz           1308.755
...                      ...
Redhaven            2408.949
Granny Smith        4613.236
Braeburn            5010.046
Gala                5034.684
Elstar              5509.090
Evelina             6499.854
Royal Gala          7837.531
Zlati Delišes      11256.696
Jonagold           17052.902
Idared             24409.393

[21 rows x 1 columns]

Prevladujoča sorta je Idared.

In [99]:
kvaliteta.groupby(['Sorta']).count()

               Datum  Dobavitelj  Kvaliteta  Količina [kg]
Sorta
Abate fetel        7           7          7              7
Braeburn          92          92         92             92
Delcorf            2           2          2              2
Eko Opal          11          11         11             11
Eko Topaz          7           7          7              7
Elstar            24          24         24             24
Evelina           84          84         84             84
Fuji              40          40         40             40
Gala              32          32         32             32
Gala Must         26          26         26             26
...              ...         ...        ...            ...
Idared           182         182        182            182
James Grieve       2           2          2              2
Jonagold          85          85         85             85
Opal               1           1          1              1
Pinova            30          30         30             30
Redhaven           8           8          8              8
Royal Gala       187         187        187            187
Topaz              5           5          5              5
Viljamovka        22          22         22             22
Zlati Delišes    166         166        166            166

[21 rows x 4 columns]

npr. sedemkrat je bila Abate fetel pripeljana. Jaz pa hočem, koliko dobaviteljev jo je pripeljalo ...

In [88]:
kvaliteta.groupby(['Dobavitelj']).get_group('Mustar Alojz')

          Datum    Dobavitelj     Sorta Kvaliteta  Količina [kg]
304   1.10.2014  Mustar Alojz    Idared        I.          893.0
305   1.10.2014  Mustar Alojz  Braeburn        I.          999.0
306   1.10.2014  Mustar Alojz  Jonagold        I.          612.0
329   6.10.2014  Mustar Alojz    Idared        I.          546.0
352  10.09.2014  Mustar Alojz    Idared        I.          546.0

Mustar Alojz (ki je največji dobavitelj 1. klase) je pripeljal sadje na te datume.